<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel="classes">
<listeners>
    <listener class-name="com.bssapp.Utilities.ExtentReportUtility" />
   
  </listeners>
  <test thread-count="5" name="Test">
  <parameter name="os" value="Windows"/>
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.bssapp.TestCases.Aramark.AddToCartfromREQTab_Aramark"/>
      <class name="com.bssapp.TestCases.Aramark.AddToCartFromPOTab_Aramark"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
